.assists {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.assists-score {
    display: grid;
}

.assists-title {
    text-align: center;
}

.a-score {
    align-self: center;
    justify-self: center;
}