.building {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.building-scores {
    display: grid;
}

.building-title {
    text-align: center;
}

.building-score {
    align-self: center;
    justify-self: center;
}