.damage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.damage-scores {
    display: grid;
}

.damage-title {
    text-align: center;
}

.damage-score {
    justify-self: center;
    align-self: center;
}