.deaths {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.death-score {
    display: grid;
}

.death-title {
    text-align: center;
}

.d-score {
    align-self: center;
    justify-self: center;
}