.denies {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.denies-score {
    display: grid;
}

.denies-title {
    text-align: center;
}

.deny-score {
    align-self: center;
    justify-self: center;
}