.gold {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gold-score {
    display: grid;
}

.gold-title {
    text-align: center;
}

.g-score {
    justify-self: center;
    align-self: center;
}