.gpm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gpm-scores {
    display: grid;
}

.gpm-title {
    text-align: center;
}

.gpm-score {
    align-self: center;
    justify-self: center;
}