.healing {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.healing-scores {
    display: grid;
}

.healing-title {
    text-align: center;
}

.healing-score {
    align-self: center;
    justify-self: center;
}