.heroes {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hero-icons {
    display: grid;
    height: 100%;
}

.icon {
    justify-self: center;
    align-self: center;
}

.hero-title {
    text-align: center;
}