.kills {
    display: flex;
    flex-direction: column;
    height: 100%
}

.kill-score {
    display: grid;
    height: 100%
}

.kill-title {
    text-align: center;
}

.k-score {
    justify-self: center;
    align-self: center;
}