.last-hits {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.last-hits-score {
    display: grid;
}

.last-hits-title {
    text-align: center;
}

.lh-score {
    align-self: center;
    justify-self: center;
}