.victory {
    display: flex;
    justify-content: center;
}

.score-time {
    display: flex;
    justify-content: space-evenly;
}

.match-time {
    display: flex;
    background-color: #D8F3DC;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
}

.radiant-score {
    display: flex;
    background-color: #D8F3DC;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    color: #2d6a4f;
    width: 32px;
}

.dire-score {
    display: flex;
    background-color: #D8F3DC;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    color: #e76f51;
    width: 32px;
}