.xpm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.xpm-scores {
    display: grid;
}

.xpm-title {
    text-align: center;
}

.xpm-score {
    align-self: center;
    justify-self: center;
}